body{
    font-family: 'Bakbak One', cursive;
    text-align: center;
}
.heading{
    color: rgb(23, 23, 245);
    
    width: 100%;
}
.copy_right_footer{
    color: black;
    bottom: 0;
    width: 100%;
    font-size: 18px;
   
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151,149,149);
    width: 100%;
}